@model string;


<main class="container p-5 flex-grow-1">

    <div class="text-center bg-light text-danger">
        <h3>@Model</h3>
        @* <img src="/images/confusionpsyduck.jpg" /> *@
    </div>

</main>
