@model List<liguesEtClubs_V2.Models.Club>
@{
    Layout = "_Layout";
}

    <main class="container p-0 flex-grow-1">
        <!-- Contenu principal -->
        <div class="container mt-4">
            <div class="row g-2 section_listeClubs-formulaire">
                <!-- Colonne pour la liste des CLUBS -->
                <div class="col-md-8">
                    <div class="search-results">
                        <!-- <h2>Listes des clubs</h2> -->
                        <div class="row">
                            <!-- Clubs -->
                            <!-- Entité enfant -->
                            @foreach(var item in Model){
                            <div class="col-12 col-md-4 mb-3 mt-1">
                                <a href="/Recherche/Detail/@(item.ClubID)" class="text-decoration-none" title="@(item.Nom)">
                                    <div class="card entity-card p-1">
                                        <img src="@(item.Image)" class="card-img-top img-fluid" alt="Image de l'entité">
                                        <div class="card-body">
                                            <h2 class="card-title">@(item.Ligue.Nom)</h2>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                        </div>
                    </div>
               </div>
                <!-- Colonne pour le formulaire de recherche -->
                <div class="col-md-4 mt-md-4">
                    <div class="search-form">
                        <div class="row">
                            <div class="col-10">
                                <h3 class="mb-2">Recherche des clubs</h3>
                            </div>
                            <div class="col-2">
                                <div class="spinner-grow spinner-grow-sm text-warning" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div>
                        </div>

                        <form action="https://www.w3schools.com/action_page.php" method="POST">
                            <div class="form-group">
                                <label for="text-filter">Recherche par mots-clés :</label>
                                <input type="text" class="form-control" id="text-filter" name="text-filter">
                            </div>
                            <div class="form-group">
                                <label for="numeric-filter">Filtre numérique :</label>
                                <input type="number" class="form-control" id="numeric-filter" name="numeric-filter">
                            </div>
                            <div class="form-group">
                                <label for="feature-filter">Club vedette :</label>
                                <select class="form-control" id="feature-filter" name="feature-filter">
                                    <option value="">Peu importe</option>
                                    <option value="oui">Oui</option>
                                    <option value="non">Non</option>
                                </select>
                            </div>
                            <div class="form-group my-2">

                                <span>Ligues :</span><br>

                                <div class="form-check form-check">
                                    <input class="form-check-input" type="checkbox" id="parent1" name="parent1" checked>
                                    <label class="form-check-label" for="parent1">Premier League</label>
                                </div>

                                <div class="form-check form-check">
                                    <input class="form-check-input" type="checkbox" id="parent2" name="parent2">
                                    <label class="form-check-label" for="parent2">La Liga</label>

                                </div>

                                <div class="form-check form-check">
                                    <input class="form-check-input" type="checkbox" id="parent3" name="parent3">
                                    <label class="form-check-label" for="parent3">Ligue 1</label>
                                </div>

                            </div>
                            <button type="submit" class="btn btn-primary my-2 my-lg-0 mr-2"><i class="fa-solid fa-magnifying-glass"></i> Rechercher</button>
                            <button type="reset" class="btn btn-secondary"><i class="fa-solid fa-arrows-rotate"></i> Réinitialiser</button>
                        </form>
                    </div>



                </div>
            </div>
        </div>
    </main>